.wholePage{
    align-items: center;
    width:100%

}
.allUserSpots{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
    margin:35px;
    color:black;
    width:83%
}

.infoWithEditORdelete{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-right: 20px; */
}
.image{
    width:300px;
    height:300px;
    border-radius: 0.5rem;
    object-fit: cover;
    /* padding-right: 20px; */
}
/* #star{
    margin-right: 2px;
} */
#EditButton{
    border-radius: 5px;
    background-color: white;
    color: brown;
    margin-right: 5px;
}
#DeleteButton{
    border-radius: 5px;
    background-color: brown;
    color: white;
}
