#modal-content{
    height: 500px;
    width:400px
}

#SignUpFormDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#signUpTitle{
    color:red;
    margin-bottom: 40px;
}
#SignUpFormInputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#confirmpassword, #password, #lastname, #firstname, #SignUpusername, #SignUpemail{
    border-radius: 5px;
    /* margin-bottom: 5px; */
    width:300px;
    height:25px;
}
#SignUpSubmit{
    background-color: brown;
    color:white;
    width:308px;
    height:25px;
    border-radius: 5px;
}

#signup-error {
    font-size: 1.3vw;
}
