#wholeReviewFormPage{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formDiv{
    box-sizing: border-box;
    height:fit-content;
    width:600px;
    border: solid brown;
    border-radius:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-family: ui-rounded;
}


#reviewForm{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
}

#reviewTitle{
    color: brown;
    font-size: 30px;
}

#errorMessages{
    color:black;
    margin-bottom: 20px;
}
