#editForm{
    display:flex;
    flex-direction: column;
    overflow-y:auto
    /* height: */
}
#editTitle{
    margin-top: 20px;
    font-size: 30px;
    color: brown;
}

.errors {
    color: black;
}
