#reviewPage{
    width:100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#reviewColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    /* border-right: 2px solid brown; */
    /* border-left: 2px solid brown; ; */
}
#reviewTitle{
    border-bottom: 2px solid rgb(64, 64, 64);
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 15px;
    /* color: brown; */
    /* margin-bottom: 20px;; */
    width: 360px;
    /* height:20px */
    /* height: 40px; */
}
#allReviews{
    /* margin-top: 10px; */
}
#reviewBlock{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: center;
    width:100%;
    /* border-top:2px solid rgb(64, 64, 64) ; */
    border-bottom: 2px solid rgb(64, 64, 64);

}
#wholeAddress{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid lightgray;
    align-self: center;
    margin-top: 3px;
}
#address{
    font-size: 25px;
    /* font-weight: bold; */
    align-self: flex-start;
    color: rgb(64, 64, 64);
    margin-bottom: 5px;
    margin-top: 10px;
    margin-right: 20px;
}
#cityState{
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
}
.reviewLocation{
    margin-right: 5px;
    margin-bottom: 15px;
}
/* .reviewDetails{
    border-bottom: 2px solid lightgray;
} */

#reviewStars{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-self: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
#ratingLabel{
    font-size: 20px;
    /* margin-right: ; */
    color:brown
}
#RatingInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#StarInfo{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-self: center;
}
#star{
    margin-top: 3px;
    margin-left: 25px;
}
#starRating{
    /* margin-bottom: 5px; */
    font-size: 20px;

    /* align-self: flex-start;
    align-self: center; */
}
#messageWhole{
    display: flex;

    flex-direction: row;
    border-bottom: 1px solid lightgray;
}
#messageWhole{
    font-size: 20px;
}
#messageLabel{
    color:brown;
}
#reviewReview{
    margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 20px;
    align-self: flex-start;
    align-self: center;
    justify-content: center;
    align-items: center;

}

#deleteReviewButton{
    border-radius: 6px;
    height: 30px;
    background-color: brown;
    color:white;
    margin-bottom: 13px;
    align-self: center;
    /* justify-content: flex-end; */
    margin-top: 13px;
    margin-left: 260px;
}
