#allSpots{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    margin-top: 40px;
    /* padding-left: 5px; */
    margin-left:6%;
    margin-right:5%;
    text-decoration: none;
    align-items: center;
}


#topLineSpotCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    margin-bottom: 10px;
}
.image{
    width:300px;
    height:300px;
    border-radius: 0.5rem;
    object-fit: cover;
}

#rating{
    display: flex;
    flex-direction: row;
    /* margin-right:20px; */
}
#avgRating{
    margin-top: 3px;
}
#price{
    color:black;
    margin-bottom: 40px;
}
