.pageDiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formDiv{
    box-sizing: border-box;
    height:fit-content;
    width:600px;
    /* box-shadow: 12px 12px  black; */
    border: solid brown;
    border-radius:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
#createForm{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    overflow-y:auto;
    height: fit-content;
    justify-content: center;
    align-items: center;
}
#title{
    margin-top: 20px;
    font-size: 30px;
    color: brown;
}
.errors {
    color: black;
}

.inputArea{
    border-radius: 5px;
    /* margin-bottom: 5px; */
    width:300px;
    height:25px;
}
#submitButton{
    border-radius: 5px;
    margin-bottom: 20px;
    width:310px;
    height:25px;
    background-color: brown;
    color:white;
    font-weight: bold;
}
